apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kiss-frontend.fullname" . }}
  labels:
    {{- include "kiss-frontend.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.settings.afdelingen.token }}
  AFDELINGEN_TOKEN: {{ .Values.settings.afdelingen.token | b64enc }}
  {{- end}}
  {{- if .Values.settings.elastic.password }}
  ELASTIC_PASSWORD: {{ .Values.settings.elastic.password | b64enc }}
  {{- end}}
  {{- if .Values.settings.email.password }}
  EMAIL_PASSWORD: {{ .Values.settings.email.password | b64enc }}
  {{- end}}
  {{- if .Values.settings.enterpriseSearch.privateApiKey }}
  ENTERPRISE_SEARCH_PRIVATE_API_KEY: {{ .Values.settings.enterpriseSearch.privateApiKey | b64enc }}
  {{- end}}
  {{- if .Values.settings.enterpriseSearch.publicApiKey }}
  ENTERPRISE_SEARCH_PUBLIC_API_KEY: {{ .Values.settings.enterpriseSearch.publicApiKey | b64enc }}
  {{- end}}
  {{- if .Values.settings.groepen.token }}
  GROEPEN_TOKEN: {{ .Values.settings.groepen.token | b64enc }}
  {{- end}}
  {{- if .Values.settings.haalCentraal.apiKey }}
  HAAL_CENTRAAL_API_KEY: {{ .Values.settings.haalCentraal.apiKey | b64enc }}
  {{- end}}
  {{- if .Values.settings.kvk.apiKey }}
  KVK_API_KEY: {{ .Values.settings.kvk.apiKey | b64enc }}
  {{- end}}
  {{- if .Values.settings.logboek.token }}
  LOGBOEK_TOKEN: {{ .Values.settings.logboek.token | b64enc }}
  {{- end}}
  {{- if .Values.settings.managementInformatie.apiKey }}
  MANAGEMENTINFORMATIE_API_KEY: {{ .Values.settings.managementInformatie.apiKey | b64enc }}
  {{- end}}
  {{- if .Values.settings.syncJobs.medewerkers.clientSecret }}
  MEDEWERKER_OBJECTEN_CLIENT_SECRET: {{ .Values.settings.syncJobs.medewerkers.clientSecret | b64enc }}
  {{- end}}
  {{- if .Values.settings.syncJobs.medewerkers.token }}
  MEDEWERKER_OBJECTEN_TOKEN: {{ .Values.settings.syncJobs.medewerkers.token | b64enc }}
  {{- end}}
  {{- if .Values.settings.oidc.clientSecret }}
  OIDC_CLIENT_SECRET: {{ .Values.settings.oidc.clientSecret | b64enc }}
  {{- end}}
  {{- if .Values.settings.database.password }}
  POSTGRES_PASSWORD: {{ .Values.settings.database.password | b64enc }}
  {{- end}}

  {{- range $index, $register := .Values.settings.registers }}
  {{- if (($register.contactmomenten).clientSecret) }}
  REGISTERS__{{ $index }}__CONTACTMOMENTEN_API_KEY: {{ $register.contactmomenten.clientSecret | b64enc }}
  {{- end }}
  {{- if (($register.interneTaak).clientSecret) }}
  REGISTERS__{{ $index }}__INTERNE_TAAK_CLIENT_SECRET: {{ $register.interneTaak.clientSecret | b64enc }}
  {{- end }}
  {{- if (($register.klanten).clientSecret) }}
  REGISTERS__{{ $index }}__KLANTEN_CLIENT_SECRET: {{ $register.klanten.clientSecret | b64enc }}
  {{- end }}
  {{- if (($register.klantinteractie).token) }}
  REGISTERS__{{ $index }}__KLANTINTERACTIE_TOKEN: {{ $register.klantinteractie.token | b64enc }}
  {{- end }}
  {{- if (($register.zaaksysteem).clientSecret) }}
  REGISTERS__{{ $index }}__ZAAKSYSTEEM_API_KEY: {{ $register.zaaksysteem.clientSecret | b64enc }}
  {{- end }}
  {{- end }}

  {{- if ((.Values.settings.syncJobs.kennisbank).token) }}
  SDG_OBJECTEN_TOKEN: {{ .Values.settings.syncJobs.kennisbank.token | b64enc }}
  {{- end }}

  {{- if ((.Values.settings.syncJobs.vac).token) }}
  VAC_OBJECTEN_TOKEN: {{ .Values.settings.syncJobs.vac.token | b64enc }}
  {{- end}}