{{- if not .Values.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kiss-frontend.fullname" . }}
  labels:
    {{- include "kiss-frontend.labels" . | nindent 4 }}
type: Opaque
data:
{{- end }}
