{{- if not .Values.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "kiss-frontend.fullname" . }}
  labels:
    {{- include "kiss-frontend.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.settings.afdelingen.clientSecret }}
  AFDELINGEN_CLIENT_SECRET: {{ .Values.settings.afdelingen.clientSecret | b64enc }}
  {{- end}}
  {{- if .Values.settings.afdelingen.token }}
  AFDELINGEN_TOKEN: {{ .Values.settings.afdelingen.token | b64enc }}
  {{- end}}
  {{- if .Values.settings.elastic.password }}
  ELASTIC_PASSWORD: {{ .Values.settings.elastic.password | b64enc }}
  {{- end}}
  {{- if .Values.settings.email.password }}
  EMAIL_PASSWORD: {{ .Values.settings.email.password | b64enc }}
  {{- end}}
  {{- if .Values.settings.enterpriseSearch.privateApiKey }}
  ENTERPRISE_SEARCH_PRIVATE_API_KEY: {{ .Values.settings.enterpriseSearch.privateApiKey | b64enc }}
  {{- end}}
  {{- if .Values.settings.enterpriseSearch.publicApiKey }}
  ENTERPRISE_SEARCH_PUBLIC_API_KEY: {{ .Values.settings.enterpriseSearch.publicApiKey | b64enc }}
  {{- end}}
  {{- if .Values.settings.groepen.clientSecret }}
  GROEPEN_CLIENT_SECRET: {{ .Values.settings.groepen.clientSecret | b64enc }}
  {{- end}}
  {{- if .Values.settings.groepen.token }}
  GROEPEN_TOKEN: {{ .Values.settings.groepen.token | b64enc }}
  {{- end}}
  {{- if .Values.settings.haalCentraal.apiKey }}
  HAAL_CENTRAAL_API_KEY: {{ .Values.settings.haalCentraal.apiKey | b64enc }}
  {{- end}}
  {{- if .Values.settings.kvk.apiKey }}
  KVK_API_KEY: {{ .Values.settings.kvk.apiKey | b64enc }}
  {{- end}}
  {{- if .Values.settings.logboek.token }}
  LOGBOEK_TOKEN: {{ .Values.settings.logboek.token | b64enc }}
  {{- end}}
  {{- if .Values.settings.managementInformatie.apiKey }}
  MANAGEMENTINFORMATIE_API_KEY: {{ .Values.settings.managementInformatie.apiKey | b64enc }}
  {{- end}}
  {{- if .Values.settings.medewerker.objectenClientId }}
  MEDEWERKER_OBJECTEN_CLIENT_ID: {{ .Values.settings.medewerker.objectenClientId | b64enc }}
  {{- end}}
  {{- if .Values.settings.medewerker.objectenClientSecret }}
  MEDEWERKER_OBJECTEN_CLIENT_SECRET: {{ .Values.settings.medewerker.objectenClientSecret | b64enc }}
  {{- end}}
  {{- if .Values.settings.medewerker.objectenToken }}
  MEDEWERKER_OBJECTEN_TOKEN: {{ .Values.settings.medewerker.objectenToken | b64enc }}
  {{- end}}
  {{- if .Values.settings.oidc.clientSecret }}
  OIDC_CLIENT_SECRET: {{ .Values.settings.oidc.clientSecret | b64Secret }}
  {{- end}}
  {{- if .Values.settings.postgres.password }}
  POSTGRES_PASSWORD: {{ .Values.settings.postgres.password | b64enc }}
  {{- end}}
  # {{- if .Values.settings.REGISTERS__0__KLANTINTERACTIE_TOKEN }}
  # REGISTERS__0__KLANTINTERACTIE_TOKEN: {{ .Values.settings.REGISTERS__0__KLANTINTERACTIE_TOKEN | b64enc }}
  # {{- end}}
  # {{- if .Values.settings.REGISTERS__0__ZAAKSYSTEEM_API_KEY }}
  # REGISTERS__0__ZAAKSYSTEEM_API_KEY: {{ .Values.settings.REGISTERS__0__ZAAKSYSTEEM_API_KEY | b64enc }}
  # {{- end}}
  # {{- if .Values.settings.SDG_OBJECTEN_TOKEN }}
  # SDG_OBJECTEN_TOKEN: {{ .Values.settings.SDG_OBJECTEN_TOKEN | b64enc }}
  # {{- end}}
  # {{- if .Values.settings.SHAREPOINT_CLIENT_SECRET }}
  # SHAREPOINT_CLIENT_SECRET: {{ .Values.settings.SHAREPOINT_CLIENT_SECRET | b64enc }}
  # {{- end}}
  {{- if .Values.settings.vac.objectenToken }}
  VAC_OBJECTEN_TOKEN: {{ .Values.settings.vac.objectenToken | b64enc }}
  {{- end}}
  {{- if .Values.settings.vac.typeVersion }}
  VACS_TYPE_VERSION: {{ .Values.settings.vac.typeVersion | b64enc }}
  {{- end}}
{{- end }}
