{{ if $.Values.settings.syncJobs.website -}}
{{ range $index, $websiteJob := $.Values.settings.syncJobs.website }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "kiss-frontend.fullname" $ }}-website-sync-{{ $index }}-{{ $.Release.Revision }}
  labels:
    {{- include "kiss-frontend.labels" $ | nindent 4 }}
spec:
  backoffLimit: {{ default 1 $websiteJob.backoffLimit }}
  ttlSecondsAfterFinished: {{ default 0 $websiteJob.ttlSecondsAfterFinished }}
  template:
    metadata:
      annotations:
      {{- with $.Values.podAnnotations }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "kiss-frontend.labels" $ | nindent 8 }}
        {{- with $.Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with $.Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kiss-frontend.serviceAccountName" $ }}
      securityContext:
        {{- toYaml $.Values.podSecurityContext | nindent 8 }}
      restartPolicy: {{ default "OnFailure" $websiteJob.restartPolicy }}
      containers:
        - name: {{ $.Chart.Name }}
          securityContext:
            {{- toYaml $.Values.securityContext | nindent 12 }}
          image: "{{ $.Values.settings.syncJobs.image.repository }}:{{ $.Values.settings.syncJobs.image.tag }}"
          imagePullPolicy: {{ $.Values.settings.syncJobs.image.pullPolicy }}
          envFrom:
            - secretRef:
                name: {{ include "kiss-frontend.fullname" $ }}
            - configMapRef:
                name: {{ include "kiss-frontend.fullname" $ }}
          env:
            {{- if $.Values.extraEnvVars }}
            {{- include "kiss-frontend.tplvalues.render" (dict "value" $.Values.extraEnvVars "context" $) | nindent 16 }}
            {{- end }}
          resources:
          {{- toYaml $websiteJob.resources | nindent 12 }}
          args:
            - domain
            - {{ $websiteJob.domain }}
            - {{ $websiteJob.sourceName }}
          volumeMounts:
            {{- if $.Values.extraVolumeMounts }}
            {{- include "kiss-frontend.tplvalues.render" ( dict "value" $.Values.extraVolumeMounts "context" $ ) | nindent 16 }}
            {{- end }}
      volumes:
        {{- if $.Values.extraVolumes }}
        {{- include "kiss-frontend.tplvalues.render" ( dict "value" $.Values.extraVolumes "context" $ ) | nindent 12 }}
        {{- end }}
      {{- with $.Values.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.affinity }}
      affinity:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $.Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
{{- end }}