# yaml-language-server: $schema=./values.schema.json

#
replicaCount: 2

image:
  repository: "ghcr.io/klantinteractie-servicesysteem/kiss-frontend"
  pullPolicy: IfNotPresent
  # -- Image tag. Consider leaving this empty because it defaults to the recommended version of the image to use with this chart.
  # @default -- The semantic version of the chart
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""
  automountServiceAccountToken: true

podAnnotations: {}

podLabels: {}

podSecurityContext:
  fsGroup: 1000

securityContext:
  capabilities:
    drop:
      - ALL
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 10000

livenessProbe:
  initialDelaySeconds: 60
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1

readinessProbe:
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations:
    {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  # -- ingress hosts
  hosts: []
  #  - host: kiss-frontend.gemeente.nl
  #    paths:
  #      - path: /
  #        pathType: ImplementationSpecific
  tls: []
  #  - secretName: kiss-frontend-tls
  #    hosts:
  #      - kiss-frontend.gemeente.nl

# -- Specify extra ingresses, for example if you have multiple ingress classes
extraIngress: []
# e.g:
# extraIngress:
#  - name: kiss-frontend-azuregateway
#    annotations:
#      appgw.ingress.kubernetes.io/ssl-redirect: "true"
#    className: azure-application-gateway
#    hosts:
#      - host: kiss-frontend.gemeente.nl
#        paths:
#          - path: /
#            pathType: ImplementationSpecific
#            servicename: kiss-frontend
#            portNumber: 8000
#    tls:
#      - secretName: kiss-frontend-tls
#        hosts:
#          - "kiss-frontend.gemeente.nl"

resources:
  {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 200m
  #   memory: 256Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

pdb:
  create: false
  minAvailable: 1
  maxUnavailable: ""

nodeSelector: {}

tolerations: []

affinity: {}

# @schema
# required: true
# @schema
settings:
  aspnetcore:
    forwardedHeadersEnabled: true
    environment: "Production"
    httpPorts: ""

  # @schema
  # required: true
  # @schema
  afdelingen:
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- URL of the Objects API for afdelingen.
    baseUrl: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- URL of the afdelingen Object Type
    objectTypeUrl: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Token of the Objects API for afdelingen.
    token: ""

  # @schema
  # required: true
  # @schema
  database:
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Name of the database used by KISS
    name: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Host of the database used by KISS
    host: ""
    port: 5432
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Username for KISS to access the database
    username: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Password of the postgres user
    password: ""

  # @schema
  # required: true
  # @schema
  elastic:
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- The URL for Elasticsearch
    baseUrl: ""
    # -- Fields that a Kennisbank user is not allowed to search and view.
    excludedFieldsKennisbank: []
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Username to log in to Elasticsearch
    username: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Password to log in to Elasticsearch
    password: ""

  # @schema
  # required: true
  # @schema
  email:
    # -- Use SSL (true/false)
    enableSsl: true
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Address of the mail server
    host: ""
    # -- Password for the mail server
    password: ""
    # -- Port number of the mail connection
    port: 25
    # -- Username for the mail server
    username: ""

  # @schema
  # required: true
  # @schema
  enterpriseSearch:
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- URL of the API through which KISS can query enterprise search
    baseUrl: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- The name of the `meta-engine` engine used by KISS.
    engine: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Public API key for Elastic API
    publicApiKey: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Private API key for Elastic API
    privateApiKey: ""

  # @schema
  # required: true
  # @schema
  feedback:
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- From address of the feedback email
    emailFrom: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Address where the feedback email should be sent
    emailTo: ""

  # @schema
  # required: true
  # @schema
  groepen:
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- URL of the Objects API for groepen.
    baseUrl: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- URL of the groepen Object Type
    objectTypeUrl: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Token of the Objects API for groepen.
    token: ""

  # @schema
  # required: true
  # @schema
  haalCentraal:
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- URL of the Haal Centraal API
    baseUrl: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Key for the Haal Centraal API
    apiKey: ""
    # -- Header name to include the user id to send to the Haal Centraal API, for instance when using a proxy
    userHeaderName: ""
    # @schema
    # additionalProperties:
    #   oneOf:
    #     - type: string
    #     - type: object
    #       properties:
    #         RaadpleegMetBurgerservicenummer:
    #           type: string
    #         ZoekMetGeslachtsnaamEnGeboortedatum:
    #           type: string
    #         ZoekMetPostcodeEnHuisnummer:
    #           type: string
    #       required: [RaadpleegMetBurgerservicenummer, ZoekMetGeslachtsnaamEnGeboortedatum, ZoekMetPostcodeEnHuisnummer]
    # @schema
    # -- Custom headers to send to the Haal Centraal API, for instance when using a proxy
    customHeaders: {}

  # @schema
  # required: true
  # @schema
  kvk:
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- URL of the KvK API
    baseUrl: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Key for the KvK API
    apiKey: ""
    # -- Header name to include the user id to send to the KvK API, for instance when using a proxy
    userHeaderName: ""
    # @schema
    # additionalProperties:
    #   type: string
    # @schema
    # -- Custom headers to send to the KvK API, for instance when using a proxy
    customHeaders: {}

  # @schema
  # required: true
  # @schema
  logboek:
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- URL of the Objects API where the logbook is stored
    baseUrl: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- URL of the Logbook Object Type.
    objectTypeUrl: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Version number of the Logbook Object Type.
    objectTypeVersion: 1
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Token for the Objects API for Logbooks
    token: ""

  # @schema
  # required: [apiKey]
  # @schema
  managementInformatie:
    # -- Secret that KISS uses to validate the JWT Token when requesting contact moment details
    apiKey: ""

  # @schema
  # required: true
  # @schema
  oidc:
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- URL of the OpenID Connect Identity Provider
    authority: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- For access to the OpenID Connect Identity Provider
    clientId: ""
    # @schema
    # required: true
    # type: string
    # minLength: 1
    # @schema
    # -- Secret for the OpenID Connect Identity Provider
    clientSecret: ""
    # -- Name of the role for a Kennisbank employee.
    kennisbankRole: ""
    # -- Name of the role for a Klant Contact Employee.
    klantcontactmedewerkerRole: ""
    # @schema
    # required: true
    # @schema
    medewerkerIdentificatie:
      # @schema
      # required: true
      # type: string
      # minLength: 1
      # @schema
      # -- the claim to use for identifying the medewerker
      claim: ""
      # @schema
      # type: [integer, null]
      # @schema
      # -- max number of characters before truncation
      truncate:
    # -- Name of the role for a Redacteur.
    redacteurRole: ""

  # @schema
  # type: array
  # required: true
  # items:
  #   type: string
  # minItems: 1
  # @schema
  # -- RSIN of the organization that registers the Contactmomenten
  organisatieIds: []

  # @schema
  # required: true
  # type: array
  # minItems: 1
  # items:
  #   allOf:
  #     - description: Common register configuration
  #       properties:
  #         isDefault:
  #           type: boolean
  #         zaaksysteem:
  #           properties:
  #             clientId:
  #               type: string
  #             clientSecret:
  #               type: string
  #             catalogiBaseUrl:
  #               type: string
  #             documentenBaseUrl:
  #               type: string
  #             zakenBaseUrl:
  #               type: string
  #             deeplink:
  #               properties:
  #                 property:
  #                   type: string
  #                 url:
  #                   type: string
  #             useExperimentalQueries:
  #               type: boolean
  #       required: ["zaaksysteem"]
  #     - oneOf:
  #       - description: Oud (esuite) register configuration
  #         properties:
  #           contactmomenten:
  #             properties:
  #               baseUrl:
  #                 type: string
  #               clientId:
  #                 type: string
  #               clientSecret:
  #                 type: string
  #             required: ["baseUrl", "clientId", "clientSecret"]
  #           interneTaak:
  #             properties:
  #               baseUrl:
  #                 type: string
  #               clientId:
  #                 type: string
  #               clientSecret:
  #                 type: string
  #               objectTypeUrl:
  #                 type: string
  #               objectTypeVersion:
  #                 type: integer
  #             required: ["baseUrl", "clientId", "clientSecret", "objectTypeUrl", "objectTypeVersion"]
  #           klanten:
  #             properties:
  #               baseUrl:
  #                 type: string
  #               clientId:
  #                 type: string
  #               clientSecret:
  #                 type: string
  #             required: ["baseUrl", "clientId", "clientSecret"]
  #         required: ["contactmomenten", "interneTaak", "klanten"]
  #       - description: Nieuw (klantinteracties) register configuration
  #         properties:
  #           klantinteractie:
  #             properties:
  #               baseUrl:
  #                 type: string
  #               token:
  #                 type: string
  #             required: ["baseUrl", "token"]
  #         required: ["klantinteractie"]
  # @schema
  # -- Configuration for the different registers for e.g. zaken and klantcontacten. Check [the json schema](./values.schema.json) for the different possible configurations.
  registers: []

  syncJobs:
    image:
      repository: "ghcr.io/klantinteractie-servicesysteem/kiss-elastic-sync"
      pullPolicy: IfNotPresent
      # -- The tag for the `kiss-elastic-sync` image to use for sync jobs. Consider leaving this empty because it will default to the recommended version to use with the chart.
      tag: "0.3.0"
    # @schema
    # type: [object, null]
    # @schema
    kennisbank:
      # @schema
      # required: true
      # type: string
      # minLength: 1
      # @schema
      # -- URL of the API for Kennisartikelen
      baseUrl: ""
      historyLimit: 1
      # @schema
      # required: true
      # type: string
      # minLength: 1
      # @schema
      # -- URL of the Kennisartikel Object Type
      objectTypeUrl: ""
      resources: {}
      schedule: "*/59 * * * *"
      # @schema
      # required: true
      # type: string
      # minLength: 1
      # @schema
      # -- Key for the API for Kennisartikelen
      token: ""

    # @schema
    # properties: {}
    # oneOf:
    #   - description: Use email to assign medewerkers to contactverzoeken. No other configuration required
    #     properties:
    #       useEmail:
    #         required: true
    #         type: boolean
    #         const: true
    #   - description: Sync medewerkers from Object registration
    #     properties:
    #       baseUrl:
    #         required: true
    #         type: string
    #         minLength: 1
    #       historyLimit:
    #         type: integer
    #       objectTypeUrl:
    #         required: true
    #         type: string
    #         minLength: 1
    #       resources:
    #         type: object
    #       schedule:
    #         type: string
    #       token:
    #         required: true
    #         type: string
    #         minLength: 1
    #       useEmail:
    #         const: false
    # @schema
    medewerkers:
      # -- This variable determines whether a contact request for an employee can only be made by email address.
      useEmail: false
      # -- Token for the Objects API for employees. Leave `clientId` and `clientSecret` empty if you use a token.
      token: ""
      # -- URL of the Objects API for employees
      baseUrl: ""
      historyLimit: 1
      # -- URL of the Employee Object Type
      objectTypeUrl: ""
      resources: {}
      schedule: "*/59 * * * *"

    # @schema
    # items:
    #   type: object
    #   properties:
    #     sourceName:
    #       type: string
    #     schedule:
    #       type: string
    #     historyLimit:
    #       type: integer
    #     resources:
    #       type: object
    #     siteUrl:
    #       type: string
    #     clientId:
    #       type: string
    #     clientSecret:
    #       type: string
    #     tenantId:
    #       type: string
    #   required: [sourceName, siteUrl, clientId, clientSecret, tenantId]
    # @schema
    # -- sharepoint sync jobs configuration
    sharepoint: []

    # @schema
    # type: [object, null]
    # @schema
    vac:
      # -- This variable determines whether the navigation item for managing VACs is present in the management navigation.
      manageFromKiss: false
      # @schema
      # required: true
      # type: string
      # minLength: 1
      # @schema
      # -- Token for the Objects API for VACs
      token: ""
      # @schema
      # required: true
      # type: string
      # minLength: 1
      # @schema
      # -- URL of the Objects API for VACs
      baseUrl: ""
      historyLimit: 1
      # @schema
      # required: true
      # type: string
      # minLength: 1
      # @schema
      # -- URL of the VAC Object Type
      objectTypeUrl: ""
      # -- Version number of the VAC Object Type
      objectTypeVersion: 1
      resources: {}
      schedule: "*/59 * * * *"

    # @schema
    # items:
    #   type: object
    #   properties:
    #     backoffLimit:
    #       type: integer
    #     ttlSecondsAfterFinished:
    #       type: integer
    #     restartPolicy:
    #       type: string
    #     domain:
    #       type: string
    #       format: uri
    #     sourceName:
    #       type: string
    #     resources:
    #       type: object
    # @schema
    # -- website sync jobs configuration
    website: []

# -- Optionally specify extra list of additional volumes, for example to trust extra ca certificates.
extraVolumes: []
# e.g:
# extraVolumes:
#   - name: my-secret-mount
#     secret:
#       secretName: my-secret-containing-my-custom-ca

# -- Optionally specify extra list of additional volumeMounts, for example to trust extra ca certificates.
extraVolumeMounts: []
# e.g:
# extraVolumeMounts:
#  - name: my-secret-mount
#    readOnly: true
#    subPath: ca.crt
#    mountPath: /etc/ssl/certs/my-custom-ca.crt

# -- Array with extra environment variables to add
extraEnvVars: []
# e.g:
# extraEnvVars:
#   - name: FOO
#     value: "bar"
